* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(90deg, #00c9ff, #92fe9d);
}
#joke {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
