body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}
nav {
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  background-color: #fff;
  color: #555;
  border-radius: 5px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
max-width: 1000px;
  padding: 20px;
  
}
article {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  margin-bottom: 20px;
  width: 300px;
  margin: 10px;
}
article img {
  /* max-width: 100%;
  height: auto;
 */
 width: 100%;
 height: 200px;
}
article h2, a {
  font-size: 24px;
  margin: 10px;
}
article p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}
.content{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  margin-bottom: 20px;
  width: 800px;
  margin: 10px;
}
.content img{
  margin-top: 10px;
  width: 80%;
  height: 400px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
 }

 img:hover{
     transform: scale(1.1);
     transition: 0.5s;
 }
 